.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}


a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
.red {
  color: #A94442;
}

.body_bg {
    background-color: #222D32;
  }
  
  .panel-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
  }
  
  .mt_150 {
    margin-top: 150px;
  }

  /* aside */
  .lt_aside{
    width: 180px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #222d32;
    z-index: 999;

  }

  .lt_aside .brand{
    width: 180px;
    height: 50px;
    background-color: #367fa9;
  }
  .lt_aside .brand a{
    display: block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  .lt_aside .user{
    height: 180px;
    padding-top: 30px;
  }
  .lt_aside .user img{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .lt_aside .user p{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }

  .lt_aside .nav a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 40px;
    border-left: 3px solid transparent;
  }

  .lt_aside .nav a.active{
    background-color: #1d1f21;
    border-left: 3px solid #069;
  }

  .lt_aside .nav a i {
    margin-right: 4px;
  }

  .lt_aside .nav .child{
    display: none;
  }
  .lt_aside .nav .child a{
    padding-left: 60px;
  }  

  .lt_main{
    padding-left: 180px;
    padding-top: 50px;
    height: 1000px;
  }
