/* 重置公共的样式 */
.table.table-bordered th,
.table.table-bordered td{
    text-align: center;
    vertical-align: middle;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    display: block;
    width: 100%;
}

.red{
    color: #a94442;
}



.body_bg{
    background-color: #222d32;
}

.panel-title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

.mt_150{
    margin-top: 150px;
}


/* 左侧侧边栏布局 */

.lt_aside{
    width: 180px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #222d32;
    z-index: 999;
    transition: all 1s;
}

.lt_aside.hidemenu{
    left: -180px;
}

.lt_aside .brand{
    width: 180px;
    height: 50px;
    background-color: #367fa9;
}
.lt_aside .brand a{
    display: block;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}


.lt_aside .user{
    height: 180px;
    padding-top: 30px;
}

.lt_aside .user img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
}

.lt_aside .user p{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.lt_aside .nav a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 40px;
    border-left: 3px solid transparent;
}

.lt_aside .nav a.active{
    background-color: #1d1f21;
    border-left: 3px solid #069;
}

.lt_aside .nav a i{
    margin-right: 4px;
}

.lt_aside .nav .child{
    display: none;
}

.lt_aside .nav .child a{
    padding-left: 60px;
}


.lt_main{
    padding-left: 180px;
    padding-top: 50px;
    height: 1000px;
    transition: all 1s;
}

.lt_main.hidemenu{
    padding-left: 0px;
}

.lt_topbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    padding-left: 180px;
    z-index: 666;
    background-color: #3c8dbc;
    transition: all 1s;
}

.lt_topbar.hidemenu{
    padding-left: 0;
}

.lt_topbar .icon_menu,
.lt_topbar .icon_logout{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.lt_content{
    padding: 15px;
}

/* 需要准备两个具备宽高的容器 */
.lt_content .echarts_left,
.lt_content .echarts_right{
    width: 48%;
    height: 400px;
    background-color: skyblue;
}
